@using BioEngine.BRC.Domain.Patreon
@using BioEngine.Extra.Ads.Site
@using BioEngine.Extra.Twitter
@model BioEngine.Core.Site.Model.PageViewModel

<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    @{
        var meta = await Model.GetMetaAsync();
        var twitterProperties = await Model.GetSitePropertiesAsync<TwitterSitePropertiesSet>();
    }
    <title>@meta.Title</title>
    <meta name="description" content="@Html.Raw(meta.Description)"/>
    <meta name="keywords" content="@Html.Raw(meta.Keywords)"/>

    <!-- Favicon -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="@Url.Action("RssAsync", "Posts")"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-144x144.png"/>
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16"/>
    <link rel="manifest" href="/manifest.json"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="msapplication-TileImage" content="/img/mstile-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>

    <!-- Facebook Markup -->
    <meta property="og:title" content="@Html.Raw(meta.Title)"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="@Html.Raw(meta.ImageUrl)"/>
    <meta property="og:url" content="@Html.Raw(meta.CurrentUrl)"/>
    <meta property="og:description" content="@Html.Raw(meta.Description)"/>
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="@Html.Raw(meta.Title)"/>
    <meta name="twitter:description" content="@Html.Raw(meta.Description)"/>
    <meta property="twitter:image:src" content="@Html.Raw(meta.ImageUrl)"/>
    @if (twitterProperties != null && twitterProperties.IsEnabled && !string.IsNullOrEmpty(twitterProperties.Handle))
    {
        <meta name="twitter:site" content="@twitterProperties.Handle"/>
    }
    <!-- G+ -->
    <meta itemprop="name" content="@Html.Raw(meta.Title)"/>
    <meta itemprop="description" content="@Html.Raw(meta.Description)"/>
    <meta itemprop="image" content="@Html.Raw(meta.ImageUrl)"/>

    <link rel="canonical" href="@Html.Raw(meta.CurrentUrl)"/>
    @await Html.PartialAsync("Assets/_Gen_Styles")
    @RenderSection("styles", required: false)
</head>
<body>

<!--Main Navigation-->
<header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark darken-2 scrolling-navbar">
        <div class="container">

            <!-- Brand -->
            <a class="navbar-brand waves-effect" href="/">
                BRC Games
            </a>

            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Left -->
                <vc:menu></vc:menu>

                <!-- Right -->
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a href="https://www.facebook.com/brcgames" class="nav-link waves-effect" target="_blank">
                            <i class="fab fa-facebook-f mr-3"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://twitter.com/brcgames" class="nav-link waves-effect" target="_blank">
                            <i class="fab fa-twitter mr-3"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.youtube.com/c/brcgames" class="nav-link waves-effect" target="_blank">
                            <i class="fab fa-youtube mr-3"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.twitch.tv/brcstream" class="nav-link waves-effect" target="_blank">
                            <i class="fab fa-twitch mr-3"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://discord.gg/NEEk48k" class="nav-link waves-effect" target="_blank">
                            <i class="fab fa-discord mr-3"></i>
                        </a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>
    <!-- Navbar -->

</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="mt-5 pt-5">
    <div class="container">

        <!--Section: Post-->
        <section class="mt-4">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-9 mb-4">

                    @RenderBody()

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-3 mb-4">

                    @await Html.PartialAsync("~/Views/Shared/UserBlock.cshtml")

                    <div class="card mb-4">
                        <div class="card-body">
                            @* ReSharper disable once Mvc.ActionNotResolved *@
                            <form method="get" action="@Url.Action("Index", "Search")" class="form-inline md-form form-sm mt-0 mb-0">
                                <i class="fas fa-search" aria-hidden="true"></i>
                                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Поиск" aria-label="Поиск" name="query">
                            </form>
                        </div>
                    </div>

                    @await Component.InvokeAsync(typeof(AdViewComponent))

                    <!--Card-->
                    @await Component.InvokeAsync(typeof(PatreonWidgetViewComponent))
                    <!--/.Card-->

                    @await Component.InvokeAsync(typeof(AdViewComponent))

                    @await Component.InvokeAsync(typeof(AdViewComponent))

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Post-->

    </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="pt-4">
        <p>При любом публичном использовании материалов сайта ссылка на <a href="https://www.brcgames.ru">www.brcgames.ru</a> обязательна. Полное копирование допускается не иначе как с письменного разрешения администрации.</p>
    </div>
    <!--/.Call to action-->

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
        <a href="https://www.facebook.com/brcgames" target="_blank">
            <i class="fab fa-facebook-f mr-3"></i>
        </a>

        <a href="https://twitter.com/brcgames" target="_blank">
            <i class="fab fa-twitter mr-3"></i>
        </a>

        <a href="https://www.youtube.com/c/brcgames" target="_blank">
            <i class="fab fa-youtube mr-3"></i>
        </a>

        <a href="https://www.twitch.tv/brcstream" target="_blank">
            <i class="fab fa-twitch mr-3"></i>
        </a>
        <a href="https://discord.gg/NEEk48k" target="_blank">
            <i class="fab fa-discord mr-3"></i>
        </a>

        <a href="https://github.com/biowareru" target="_blank">
            <i class="fab fa-github mr-3"></i>
        </a>

    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
        © 2005-@DateTime.Now.Year <a href="https://www.brcgames.ru" target="_blank"> www.brcgames.ru </a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
<script src="https://player.twitch.tv/js/embed/v1.js"></script>
@await Html.PartialAsync("Assets/_Gen_Scripts")
@RenderSection("scripts", required: false)
</body>
</html>
